<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Repository Control</title>
    <link rel="stylesheet" href="scss/styles.scss">
    <link rel="shortcut icon" href="assets/gcr-logo-converted.svg" type="image/x-icon">
    <script type="module" src="js/main.js"></script>
  </head>
  <body class="container-fluid mx-auto col-md-12">
    <main class="row justify-content-center" id="app">
        <header class="text-center sticky-top text-bg-light py-2">
            <h1>Github Repository Control</h1>
        </header>
        <div class="p-3">
            <div class="d-flex justify-content-between">
                <button class="btn btn-success btn-sm my-2 text-uppercase" v-on:click="load_repos">load public repositories</button>
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm me-2 invisible" v-on:click="previousPage"><</button>
                    <button class="btn btn-secondary btn-sm" v-on:click="nextPage">></button>
                </div>
            </div>
            <div v-if="repositories.length" class="">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">Public Repositories</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>FullName</th>
                            <th>Fork</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="repo in repositories">
                            <td><input type="checkbox" v-model="repository" v:id="repo.id" :value="repo.full_name"></td>
                            <td>{{repo.name}}</td>
                            <td>{{repo.full_name}}</td>
                            <td>{{repo.fork}}</td>
                            <td>{{repo.description}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-danger btn-sm my-2 text-uppercase" data-bs-toggle="modal" data-bs-target="#confirm_action_modal">delete repositories</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="confirm_action_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirm_action_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirm_action_modal_label">Confirm Action</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the selected repositories?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="delete_repository">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>